@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:1px dotted red; */
    width:100%;
    font-size: 1em;
    background: url(../Lesson10/assets/cover1.png) no-repeat center fixed;
    background-size: cover;
    overflow:scroll;
}
header,main,recs,footer{
    display:flex;
    /* border:1px dotted blue; */
    width: 100%;
    height:7.5vh;
}
header{
    font-size: 2em;
    background-image: linear-gradient(white, rgba(211, 211, 211, 0.307));
    position:fixed;
    top:0;
    z-index:1;
}
header span:not(#bold){
    align-self:center;
    margin-left: 25px;
}
header #bold{
    font-weight: 900;
}
main{
    display:flex;
    border:1px black;
    flex-direction: column;
    text-align:center;
    height:200vh;
}
main #container-main{
    display:flex;
    flex-direction: column;
    height:100%;
    border:2px dotted #42B8FD;
    background-color:#42B8FD;
    opacity: 95%;
    color:white;
    
}
main #container-headline{
    display: flex;
    height:55%;
    width:100%;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-top:15px;
    margin:100px 0 10px 0;
    
}
main #container-headline h2,h4{
    word-spacing: 3px;
    font-weight:600;
}
main #container-headline #fadegraph{
    visibility: hidden;
}
main #container-headline button,button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    justify-self: center;
    color:white;
    background-color: #FCA732;
    margin:0 20px 0 20px;
    border:none;
}
main #container-form{
    display:flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    height:80%;
    width:95%;
    background-color:#58bffb;
    border:1px solid #58bffb;
    border-radius: 3px;
    margin:15px;
    box-shadow: 1px 1px 1px 1px lightblue;
    font-size:1.4em;
}
main #container-form input{
    height:50px;
    border: none;
    padding:1rem;
    box-shadow: 5px 5px 10px #c5c5c5,
    -5px -5px 10px #ffe8c7;
    transition: 0.3s;
}
main #container-form input:focus{
    outline-color: #FCA732;
    background-color: #FCA732;
    box-shadow: inset 5px 5px 15px #ffe8c7;
}
main #container-form input,label,#container-form h4{
    margin:2px 20px 0 20px;
}
main #container-form button{
    margin-top:15px;

}
main #container-form p{
    font-size:0.7rem;
    text-align: center;
    margin-top:1px;
}
main #container-about{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height:100%;
    /* border:3px dotted pink; */
    background-color: white;
}
main #container-about i{
    font-size: 60px;
    text-align: center;
    margin-bottom:15px;
}
.line{
    display:block;
    background-color: white;
    width:95%;
    margin: 15px auto 15px auto;
    height:0.5px;
    border-bottom:1px solid white;
    
}
recs{
    display:flex;
    height:53vh;
    background-color: #d1d1d1;
    opacity: 96%;
}
recs .carousel-item{
    margin: 25px 0 50px 0;
    font-size: 0.9em;
    font-weight: 600;
    width:100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
recs p{
    margin-top:15px;
}
recs img{
    height: 200px;
    background-image: url(https://imageio.forbes.com/specials-images/imageserve/515124952/960x0.jpg?format=jpg&width=960);
    background-position: center;
    background-size:cover;
    border:1px solid;
    border-radius:100%;
    filter: drop-shadow(10px 10px 10px);

}
footer{
    display:flex;
    height:4vh;
    color:black;
    background-image: linear-gradient(white, rgba(250, 226, 206, 0.373));
    justify-content: center;
    align-items: center;
    text-align: center;
    position:fixed;
    bottom:0;
    opacity: 95%;
}
footer ul{
    margin:0;
    padding:0;
    vertical-align:baseline;
}
footer ul li{
    display:inline;
    outline-offset: none;
}
footer li:after{
    content: "|";
    padding:5px;
}
footer li:last-child:after{
    content: normal;
}
footer a:link{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.links:link{
    color:black !important;
}
footer a:visited{
    color:black;
}
footer a:hover{
    color:#FCA732;
}
hr{
    display:block;
    width:100px;
    margin-left: auto;
    margin-right:auto;
    
}
/* main #container-header+*{
    display:none;
} */
@media only screen and (max-width: 600px) {
    main #container-headline{
        height:40%;
    }
    footer{
        font-size:0.7em;
    }
}
@media only screen and(min-width: 600px){
    footer {
        font-size: 0.3rem;
    }

}
@media only screen and (min-width: 768px) {
    main #container-main{
        justify-content: space-evenly;
        font-size: 2em;
    }
    main #container-headline{
        height:40%;

    }
    main #container-form{
        height:50%;
    }
    main #container-about{
        flex-direction: row;
    }
    main{
        height:180vh;
    }
    recs{
        height:50vh;
        justify-content: center;
        align-content: center;
    }
    recs .carousel-item{
        text-align: center;
        width:100%;
    
    }
}
@media only screen and (min-width: 1200px) {
    
    main #container-main{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:60%;
        
    }
    /* NEW CHANGE INPUTS 20:26 */
    main #container-form{
        font-size: 1.3em;
        align-items: center;
        justify-content: center;
    }
    main #container-form h4{
        text-align: center;

    }
    main #container-form input{
        width:60%;
        max-width: 600px;
        transition: width 0.6s ease-in-out;
    }
    main #container-form input:focus {
        width: 100%;
        border: 3px solid #555;

      }
    main #container-about{
        flex-direction: row;
        height:40%;
    }
    main{
        height: 170vh;
    }
    main #container-headline{
        justify-content: center;
    }
    main #container-headline button{
        display:none;
    }
    h2{
        display:none;
        font-size: 2em;
        text-shadow: 10px 3px 15px #ffe8c7;
    }
    p{
        font-size:1rem;
        margin-top:40px;
    }
    main #container-headline #fadegraph{
        visibility: visible;
    }
    main #container-form{
        height:70%;
    }
    recs{
        height:50vh;
        justify-content: center;
        align-content: center;
    }
    recs .carousel-item{
        height:auto;
        margin: 25px 0 50px 0;
        font-size: 0.9em;
        width:100%;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }
    #container-header{
        display:flex;
        text-align: center;
        height: 100pt;
        margin-left:35px;
        position:absolute;
        top:10vh;
        filter: url(#threshold) blur(0.7px);
    }
    
    #text1,
    #text2 {
        position: absolute;
        width: 100%;
        display: inline-block;
        vertical-align:baseline;
        font-family: "Raleway", sans-serif;
        font-size: 80pt;
    
        text-align: center;
    
        user-select: none;
    }
}
